.lkt-item-crud {
    display: flex;
    flex-direction: column;
    gap: var(--lkt-item-crud-gap);
}

.lkt-item-crud_content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.lkt-item-crud-buttons {
    position: sticky;
    top: calc(-1 * var(--lkt-item-crud-gap));
    display: flex;
    align-items: center;
    gap: var(--lkt-item-crud-gap-buttons);
    transition: all linear .150s;
    background: transparent;
    z-index: 2;
}

.lkt-item-crud-buttons > :last-child {
    margin-left: auto;
}

.lkt-item-crud-buttons > .lkt-item-crud-buttons {
    padding: 0;
}