.lkt-item-crud {
    --lkt-item-crud--display: flex;
    --lkt-item-crud--flex-direction: column;
    --lkt-item-crud--gap: 15px;
    --lkt-item-crud--text-align: left;

    --lkt-item-crud--content--display: flex;
    --lkt-item-crud--content--flex-direction: column;
    --lkt-item-crud--content--gap: 15px;

    --lkt-item-crud--buttons--position: sticky;
    --lkt-item-crud--buttons--display: flex;
    --lkt-item-crud--buttons--align-items: center;
    --lkt-item-crud--buttons--gap: 15px;
    --lkt-item-crud--buttons--transition: all linear .150s;
    --lkt-item-crud--buttons--background: transparent;
    --lkt-item-crud--buttons--z-index: 2;
}